* {
  font-family: "yekan";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Yekan";
  src: url("Yekan-Font-master/Yekan.eot");
  src: url("Yekan-Font-master/Yekan.eot?#iefix") format("embedded-opentype"),
    url("Yekan-Font-master/Yekan.woff2") format("woff2"),
    url("Yekan-Font-master/Yekan.woff") format("woff"),
    url("Yekan-Font-master/Yekan.otf") format("opentype"),
    url("Yekan-Font-master/Yekan.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
.body-loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 0;
    background: #130f40;
}

#preloader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    width: 200px;
    height: 200px;
    border: 4px solid #FFFF;
    border-radius: 50%;
    position: absolute;
}